NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_API_BASE_URL=
JWT_SECRET=

NEXT_PUBLIC_TRANSLATION_API_BASE_URL=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

NEXT_PUBLIC_STRAPI_BASE_URL=
STRAPI_ACCESS_TOKEN=